<a href="https://colab.research.google.com/github/gayroa/sales-predictions/blob/main/Roa_Sales%20Prediction%20(Project%201%2C%20Part%202).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# import Pandas package
import pandas as pd

In [2]:
# load data
df = pd.read_csv('/content/sales_predictions.csv')

In [3]:
# view top 5 rows only
df.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

1) How many rows and columns?

In [4]:
df.shape

(8523, 12)

2) What are the datatypes of each variable?

In [5]:
df.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

3) Are there duplicates? If so, drop any duplicates.

In [29]:
# originally based dropping of duplicates solely on `Item_Identifier` column
    # since it is supposed to be a unique product ID

# but later thought that the same product could also be present in different outlets
    # since every row in `Item_Visibility` column pertains to the percentage of total display area in a store allocated to that particular product being represented in `Item_Identifier`
    # and that the target variable to be predicted also deals with the 'sales of the product in the particular store'

# so an item identifier may be present more than once in that column provided its corresponding value under `Outlet_Identifier` is unique
# so I'll be basing dropping of duplicates on both columns instead

df.drop_duplicates(subset = ['Item_Identifier', 'Outlet_Identifier'], inplace = True)

4) Identify missing values.

In [7]:
# overview of non-null count per column
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 865.6+ KB

In [8]:
# identify missing values; `Item_Weight`
weight_missing = df['Item_Weight'].isna()
df.loc[weight_missing]

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
7              FDP10          NaN  ...  Supermarket Type3          4022.7636
18             DRI11          NaN  ...  Supermarket Type3          2303.6680
21             FDW12          NaN  ...  Supermarket Type3          4064.0432
23             FDC37          NaN  ...      Grocery Store           214.3876
29             FDC14          NaN  ...      Grocery Store           125.8362
...              ...          ...  ...                ...                ...
8485           DRK37          NaN  ...  Supermarket Type3          6261.8490
8487           DRG13          NaN  ...  Supermarket Type3          4111.3150
8488           NCN14          NaN  ...  Supermarket Type3          2756.4120
8490           FDU44          NaN  ...      Grocery Store           487.3656
8504           NCN18          NaN  ...  Supermarket Type3          4138.6128

[1463 rows x 12 columns]

In [9]:
# identify missing values; `Outlet Size`
outletsize_missing = df['Outlet_Size'].isna()
df.loc[outletsize_missing]

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
3              FDX07       19.200  ...      Grocery Store           732.3800
8              FDH17       16.200  ...  Supermarket Type1          1076.5986
9              FDU28       19.200  ...  Supermarket Type1          4710.5350
25             NCD06       13.000  ...  Supermarket Type1           838.9080
28             FDE51        5.925  ...      Grocery Store           178.4344
...              ...          ...  ...                ...                ...
8502           NCH43        8.420  ...  Supermarket Type1          3020.0688
8508           FDW31       11.350  ...  Supermarket Type1          2587.9646
8509           FDG45        8.100  ...      Grocery Store           424.7804
8514           FDA01       15.000  ...  Supermarket Type1           468.7232
8519           FDS36        8.380  ...  Supermarket Type1           549.2850

[2410 rows x 12 columns]

5) Decide on how to address the missing values and do it! (This requires your judgement, so explain your choice).

In [10]:
# NaNs in `Item Weight` column

# Since the target variable being predicted, `Item_Outlet_Sales`, refers to 'the sales of a product for a particular store';
      # which the item weight is independent of since the item weight does not vary along with the store it is offered from
# I opt to just drop the column since it is immaterial to the current goal.

# drop `Item_Weight` column with 1463 rows of NaNs
df.drop(columns = ['Item_Weight'], inplace = True)

In [11]:
# NaNs in `Outlet_Size` column
# non-numerical
# I'll just create an entirely new category for the Nans: "Missing".

df['Outlet_Size'].fillna(value = 'Missing', inplace = True)
df['Outlet_Size'].value_counts()

Medium     2793
Missing    2410
Small      2388
High        932
Name: Outlet_Size, dtype: int64

6) Confirm that there are no missing values after addressing them.

In [12]:
# confirm dropping of `Item_Weight` column with NaNs
# recheck presence of null values with `Outlet_Size` column
df.isnull().sum()

Item_Identifier              0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

7) Find and fix any inconsistent categories of data (example: fix cat, Cat, and cats so that they are consistent)

Done per column;

In [13]:
# since dropping of duplicates have already been applied earlier;
# I'll just check if there remains values in lowercase that the earlier duplicate dropping may have missed.
df['Item_Identifier'].str.islower().value_counts()

# Since values under this column are all in uppercase, `.drop_duplicates` done earlier should have removed any inconsistencies along with it as well, if there were any at all.

False    8523
Name: Item_Identifier, dtype: int64

In [14]:
# uh-oh
df['Item_Fat_Content'].value_counts()

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

In [15]:
# fix inconsistencies
df['Item_Fat_Content'].replace({'LF':'Low Fat', 'reg':'Regular', 'low fat':'Low Fat'}, inplace = True)
df['Item_Fat_Content'].value_counts()

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

In [16]:
# The percentage of total display area of all products in a store allocated to the particular product.
# too many values to visually examine

# I guess duplicates and inconsistencies would not matter for this column since each value is inherent to both the product and the outlet.
# and it has been shown earlier that this column is of the `float64` type --- consistent with the column category.
df['Item_Visibility'].value_counts()

0.000000    526
0.076975      3
0.162462      2
0.076841      2
0.073562      2
           ...
0.013957      1
0.110460      1
0.124646      1
0.054142      1
0.044878      1
Name: Item_Visibility, Length: 7880, dtype: int64

In [17]:
# Well, bread is a starchy food but since it deserves its own category even if it's just a subset of the former, I'll leave this column as is.
df['Item_Type'].value_counts()

Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: Item_Type, dtype: int64

In [18]:
# Maximum Retail Price (list price) of the product
# I guess it's got the same situation with `Item_Visibility`.
# Seems fine as long as the column data type is consistent with the column catergory.
df['Item_MRP'].value_counts()

172.0422    7
170.5422    6
196.5084    6
188.1872    6
142.0154    6
           ..
97.3384     1
83.1934     1
96.6752     1
152.6682    1
75.4670     1
Name: Item_MRP, Length: 5938, dtype: int64

In [19]:
# as is
df['Outlet_Identifier'].value_counts()

OUT027    935
OUT013    932
OUT049    930
OUT046    930
OUT035    930
OUT045    929
OUT018    928
OUT017    926
OUT010    555
OUT019    528
Name: Outlet_Identifier, dtype: int64

In [20]:
# as is
df['Outlet_Establishment_Year'].value_counts()

1985    1463
1987     932
1999     930
1997     930
2004     930
2002     929
2009     928
2007     926
1998     555
Name: Outlet_Establishment_Year, dtype: int64

In [21]:
# `High` is not consistent with the other categories.
# `Large` is more appropriate in describing size.
df['Outlet_Size'].value_counts()

Medium     2793
Missing    2410
Small      2388
High        932
Name: Outlet_Size, dtype: int64

In [22]:
# replace `High` with `Large`
df['Outlet_Size'].replace({'High':'Large'}, inplace = True)
df['Outlet_Size'].value_counts()

Medium     2793
Missing    2410
Small      2388
Large       932
Name: Outlet_Size, dtype: int64

In [23]:
# as is
df['Outlet_Location_Type'].value_counts()

Tier 3    3350
Tier 2    2785
Tier 1    2388
Name: Outlet_Location_Type, dtype: int64

In [24]:
# as is
df['Outlet_Type'].value_counts()

Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: Outlet_Type, dtype: int64

In [25]:
# same situation with `Item_Visibility` and MRP list
# but then this is also the target variable
# as is
df['Item_Outlet_Sales'].value_counts()

958.7520     17
1342.2528    16
703.0848     15
1845.5976    15
1278.3360    14
             ..
4124.6310     1
6622.7126     1
1614.5650     1
5602.7070     1
2778.3834     1
Name: Item_Outlet_Sales, Length: 3493, dtype: int64

8) For any numerical columns, obtain the summary statistics of each (min, max, mean)

In [26]:
# recall dtypes
df.dtypes

Item_Identifier               object
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [27]:
df.agg({'Item_Visibility':['min', 'max', 'mean'], 
     'Item_MRP':['min', 'max', 'mean'],
     'Outlet_Establishment_Year':['min', 'max', 'mean'],
     'Item_Outlet_Sales':['min', 'max', 'mean']})

      Item_Visibility    Item_MRP  Outlet_Establishment_Year  Item_Outlet_Sales
min          0.000000   31.290000                1985.000000          33.290000
max          0.328391  266.888400                2009.000000       13086.964800
mean         0.066132  140.992782                1997.831867        2181.288914